body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: flex;

  justify-content: space-around;
  align-items: center;
  width: 100vw;
 height: 100vh;
  flex-wrap: wrap ;
}
.main{
display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #9b9b9b;
  border: 1px solid black;
  border-radius: 20px;
  width: 700px;
  height: 300px;
 margin: 20px;
}
.info{
display: flex;
justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
img{
 border-radius: 20px;
  width: 40%;
}
