.main{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    align-items: center;
    
}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
}
.box:hover{
    background-color: grey;
    border-radius: 50%;
    transition: ease-in-out 1s;
}