.form{
    width: 300px;
    height: 200px;
    
   
    margin-left: 10px;
    margin-top: 10px;
    
    border: 1px solid blue;
}
.input{
    border-radius: 20px;
    width: 200px;
    height: 30px;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.but{
    width: 150px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 45px;
}