@media screen and (min-width: 300px) and (max-width: 800px) {
   .conteiner{
    justify-content: space-around;
    
    
   }
    .a{
        width: 90%;
        height: 15%;
        background-color: aqua;
        
      
        border-radius: 20px;
       
        font-size: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
    }
    .inWrap{
        width: 110px;
        height: 110px;
        background-color: black;
        border-radius: 30px;
    }
    .bigWrap{
         width: 90%;
         height: 77%;
         
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-direction: column;
    }
    .smallWrap{
       color: white;
    }
    .wrap{
        width: 100%;
        height: 40vh;
        
    }
    .h{
        width: 100%;
        height: 37vh;
        border-radius: 20px;
    }
    /* .b{
        width: 90%;
        height: 30%;
        background-color: aqua;
        
       
        border-radius: 20px;
        position: absolute;
        top: 25vh;
        left: 5vw;
        font-size: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    

.wrap{
    width: 90%;
    height: 15vh;
    
    color: aliceblue;
   background-color: rgba(0, 0, 0, 0);
    
    position: absolute;
    top: 60vh;
    left: 5vw;
   
    font-size: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.c{
    width: 140px;
    height: 140px;
    background-color: black;
    border-radius: 30px;
    
}
.d{
    width: 140px;
    height: 140px;
    background-color: black;
    border-radius: 30px;
}
.e{
    width: 140px;
    height: 140px;
    background-color: black;
    border-radius: 30px;
}

.f{
    width: 90%;
    height: 15%;
    background-color: aqua;
    
  
    border-radius: 20px;
    position: absolute;
    top: 80vh;
    left: 5vw;
   
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

}