body{
    font-family: roboto;
    
}
.inst{
    width: 350px;
}
.main{
    width: 450px;
    height: 530px;
    /* background-color: aqua; */
    border: 2px solid lightgray;
    border-radius: 1px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.reg{
    width: 450px;
    height: 70px;
    border: 2px solid lightgray;
    border-radius: 1px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    color: black;
}
form{
    width: 80%;
    height: 180px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}
.field{
    width: 90%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid lightgray;
    color: grey;
    font-size: 13px;
    font-weight: 500;
    padding-left: 10px;
    
}
.button{
    width: 94%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(88, 180, 238);
    color: white;
    font-size: 16px;
    border: none;
}
.or{
    color: grey;
}
.alt{
    height: 30px;
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #003880;
}
#forgot{
    font-size: 12px;
    color: #1252A5;
}
#regis{
    color: rgb(88, 180, 238) ;
}
